/* =Container
-------------------------------------------------------------- */
#liveblog-container {
	font-family: sans-serif;
	margin: 10px 0;
	width: 100%;
	display: block;
}
.liveblog-form {
	position: relative;
}

/* =Form Actions
-------------------------------------------------------------- */
.liveblog-actions {
	display: block;
	padding: 5px 20px 16px 20px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	background: whiteSmoke;
}
.liveblog-actions.uploading {
	border-color: #ccc;
	background: #e6e6e6;
}
.liveblog-actions legend {
	background: transparent;
	margin: 6px 0 10px;
	padding: 5px;
	float: left;
}
.liveblog-actions legend ul,
.liveblog-actions legend li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.liveblog-actions legend ul a {
	color: #21759B;
	text-decoration: none;
	border: none;
}
.liveblog-actions legend ul a:hover {
	color: #D54E21;
	text-decoration: none;
	border: none;
}
.liveblog-actions legend ul .active a {
	color: #333;
	font-weight: bold;
	cursor: text;
}
.liveblog-actions legend ul .active a:hover {
	color: #333;
}

.liveblog-html-edit-toggle,
.liveblog-rich-form-entry {
	display: none;
}
.liveblog-form.rich-text-enabled .liveblog-rich-form-entry,
.liveblog-form.rich-text-enabled .liveblog-html-edit-toggle {
	display: block;
}

.liveblog-html-edit-toggle {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: smaller;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2;
}
.liveblog-edit-commands {
	margin-bottom: 5px;
	clear: both;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.liveblog-form-entry,
.liveblog-form-rich-entry {
	color: #333;
	background: #fff;
	width: 98%;
	min-height: 100px;
	display: inline-block;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #ddd;
	outline-color: #acc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.liveblog-form-entry:focus,
.liveblog-form-rich-entry:focus {
	border-color: #AAA;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
#liveblog-container .liveblog-form-rich-entry {
	overflow:auto;
	line-height: 1.2em;
	display: block; /* if display:inline-block, then Chrome sometimes has a rendering quirk with scrolling */
}
#liveblog-container .liveblog-form-rich-entry p {
	margin-bottom: 1em;
	line-height: 1.2em;
}

/* normalize placeholder text color - mainly for IE/Firefox, Webkit added for consistency */
a.liveblog-form-entry::-webkit-input-placeholder {
  color: #A9A9A9;
}
.liveblog-form-entry:-moz-placeholder {
  color: #A9A9A9;
}
.liveblog-form-entry:-ms-input-placeholder {
  color: #A9A9A9;
}
.liveblog-rich-text-wrapper {
	position: relative;
}
.liveblog-rich-text-placeholder {
	position: absolute;
	left: 6px;
	top: 2px;
	color: #aaa;
	display: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.liveblog-formatting-command {
	display: inline-block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	margin: 1px;
	border: solid 1px rgba(0, 0, 0, 0.0);
	padding: 1px;
	width: 24px;
	height: 24px;
	line-height: 20px;
	cursor: pointer;
}
.liveblog-formatting-command .icon {
	background-image: url('../images/icons.png?ver=0.1');
	width: 20px;
	height: 20px;
	display: block;
}
.liveblog-formatting-command:hover {
	border-color: #bbb;
	background: #eee;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#e5e5e5), to(#fff));
	background-image: -webkit-linear-gradient(bottom, #e5e5e5, #fff);
	background-image:    -moz-linear-gradient(bottom, #e5e5e5, #fff);
	background-image:      -o-linear-gradient(bottom, #e5e5e5, #fff);
	background-image: linear-gradient(to top, #e5e5e5, #fff);
}
.liveblog-formatting-command:active,
.liveblog-formatting-command.active {
	outline: none;
	border-color: #999 #ccc #ccc #999;
	background: #eee;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#f6f6f6), to(#e3e3e3));
	background-image: -webkit-linear-gradient(bottom, #f6f6f6, #e3e3e3);
	background-image:    -moz-linear-gradient(bottom, #f6f6f6, #e3e3e3);
	background-image:      -o-linear-gradient(bottom, #f6f6f6, #e3e3e3);
	background-image: linear-gradient(to top, #f6f6f6, #e3e3e3);
}

.liveblog-formatting-command[data-command="bold"] .icon { background-position: 0 -20px; }
.liveblog-formatting-command[data-command="bold"]:hover .icon { background-position: 0 0; }
.liveblog-formatting-command[data-command="italic"] .icon { background-position: -20px -20px; }
.liveblog-formatting-command[data-command="italic"]:hover .icon { background-position: -20px 0; }
.liveblog-formatting-command[data-command="underline"] .icon { background-position: -280px -20px; }
.liveblog-formatting-command[data-command="underline"]:hover .icon { background-position: -280px 0; }
.liveblog-formatting-command[data-command="strikeThrough"] .icon { background-position: -540px -20px; }
.liveblog-formatting-command[data-command="strikeThrough"]:hover .icon { background-position: -540px 0; }
.liveblog-formatting-command[data-command="createLink"] .icon { background-position: -160px -20px; }
.liveblog-formatting-command[data-command="createLink"]:hover .icon { background-position: -160px 0; }
.liveblog-formatting-command[data-command="unlink"] .icon { background-position: -180px -20px; }
.liveblog-formatting-command[data-command="unlink"]:hover .icon { background-position: -180px 0; }
.liveblog-formatting-command[data-command="removeFormat"] .icon { background-position: -380px -20px; }
.liveblog-formatting-command[data-command="removeFormat"]:hover .icon { background-position: -380px 0; }


/* HiDPI */
@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
	.liveblog-formatting-command .icon {
		background-image: url('../images/icons-2x.png?ver=0.1');
		background-size: 560px 40px;
	}
}


.drag-over .liveblog-form-entry,
.drag-over .liveblog-form-rich-entry {
	background: #efe;
	color: #333;
}
.liveblog-actions .liveblog-submit-wrapper {
	position: relative;
	line-height: 24px;
	overflow: hidden;
}
.liveblog-form-entry-submit {
	margin: 0;
}
.liveblog-submit-spinner {
	padding: 0;
	position: absolute;
	top: 50%;
	right: 50%;
}
#liveblog-container .button-secondary,
#liveblog-container .button {
	display: inline-block;
	margin: 5px 0 0;
	padding: 2px 10px;
	border-width: 1px;
	border-style: solid;
	text-decoration: none;
	text-indent: 0;
	line-height: 24px;
	cursor: pointer;
	white-space: nowrap;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#liveblog-container .button {
	color: white;
	background-color: #21759B;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#2A95C5),to(#21759B));
	background-image: -webkit-linear-gradient(top,#2A95C5,#21759B);
	background-image: -moz-linear-gradient(top,#2A95C5,#21759B);
	background-image: -ms-linear-gradient(top,#2A95C5,#21759B);
	background-image: -o-linear-gradient(top,#2A95C5,#21759B);
	background-image: linear-gradient(to bottom,#2A95C5,#21759B);
	border-color: #21759B;
	border-bottom-color: #1E6A8D;
	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
	box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
#liveblog-container .button:hover {
	color: white;
	background-color: #278AB7;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#2E9FD2),to(#21759B));
	background-image: -webkit-linear-gradient(top,#2E9FD2,#21759B);
	background-image: -moz-linear-gradient(top,#2E9FD2,#21759B);
	background-image: -ms-linear-gradient(top,#2E9FD2,#21759B);
	background-image: -o-linear-gradient(top,#2E9FD2,#21759B);
	background-image: linear-gradient(to bottom,#2E9FD2,#21759B);
	border-color: #1B607F;
	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
	box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
#liveblog-container .button:active {
	color: rgba(255, 255, 255, 0.95);
	background: #1B607F;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#21759B),to(#278AB7));
	background-image: -webkit-linear-gradient(top,#21759B,#278AB7);
	background-image: -moz-linear-gradient(top,#21759B,#278AB7);
	background-image: -ms-linear-gradient(top,#21759B,#278AB7);
	background-image: -o-linear-gradient(top,#21759B,#278AB7);
	background-image: linear-gradient(to bottom,#21759B,#278AB7);
	border-color: #124560 #2382AE #2382AE #2382AE;
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
#liveblog-container .liveblog-actions .liveblog-submit-wrapper .liveblog-form-entry-submit.button {
	display: block;
	margin-top: 0;
	float: left;
}
.liveblog-actions .liveblog-submit-wrapper a {
	display: block;
	margin-top: 3px;
	font-size: 85%;
}
#liveblog-container .cancel {
	margin-left: 4px;
	float: left;
}
.liveblog-actions .liveblog-submit-wrapper .liveblog-entry-delete {
	float: right;
}
/* Remove the dotted border on :focus and the extra padding in Firefox */
#liveblog-container .button-secondary::-moz-focus-inner {
	border-width: 1px 0;
	border-style: solid none;
	border-color: transparent;
	padding: 0;
}
#liveblog-container .button-secondary {
	font-size: 12px;
	line-height: 23px;
	height: 24px;
	margin: 0 10px 0 0;
	padding: 0 8px 1px;
	background: #f3f3f3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4));
	background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
	background-image:    -moz-linear-gradient(top, #fefefe, #f4f4f4);
	background-image:      -o-linear-gradient(top, #fefefe, #f4f4f4);
	background-image:   linear-gradient(to bottom, #fefefe, #f4f4f4);
	border-color: #bbb;
 	color: #333;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
#liveblog-container .button-secondary:hover,
#liveblog-container .button-secondary:focus {
	background: #f3f3f3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3));
	background-image: -webkit-linear-gradient(top, #fff, #f3f3f3);
	background-image:    -moz-linear-gradient(top, #fff, #f3f3f3);
	background-image:     -ms-linear-gradient(top, #fff, #f3f3f3);
	background-image:      -o-linear-gradient(top, #fff, #f3f3f3);
	background-image:   linear-gradient(to bottom, #fff, #f3f3f3);
	border-color: #999;
	color: #222;
}
#liveblog-container .button-secondary:focus {
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
#liveblog-container .button-secondary:active {
	background: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#fefefe));
	background-image: -webkit-linear-gradient(top, #f4f4f4, #fefefe);
	background-image:    -moz-linear-gradient(top, #f4f4f4, #fefefe);
	background-image:     -ms-linear-gradient(top, #f4f4f4, #fefefe);
	background-image:      -o-linear-gradient(top, #f4f4f4, #fefefe);
	background-image:   linear-gradient(to bottom, #f4f4f4, #fefefe);
	border-color: #999;
	color: #333;
	text-shadow: 0 -1px 0 #fff;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
 	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}

#liveblog-container .liveblog-entry-delete:hover,
#liveblog-container .liveblog-entry-delete:focus,
#liveblog-container .liveblog-entry-delete:active,
#liveblog-container .liveblog-entry-delete {
	color:#bc0b0b;
	border: none;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}
#liveblog-container .liveblog-entry-delete:active,
#liveblog-container .liveblog-entry-delete:focus,
#liveblog-container .liveblog-entry-delete:hover {
	color:#ff0000;
	text-decoration:underline;
}

/* =Feedback and Nags
-------------------------------------------------------------- */
.liveblog-message {
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 5px;
	padding: 7px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 1px 1px 0 #0074a2;
}

.liveblog-hidden {
	display: none;
}

/* =Entry Container
-------------------------------------------------------------- */
#liveblog-entries {
	display: block;
	padding: 10px 0 0 0;
}
.liveblog-loading {
	color: #aaa;
	background: #f9f9f9;
	border: 1px solid #ddd;
}
.liveblog-preview {
	clear: both;
}
.liveblog-archived-message {
	background-color: lightYellow;
	padding: 12px;
	border: orange;
	border-radius: 4px;
}

/* =Single Entry
-------------------------------------------------------------- */
.liveblog-entry {
	overflow: hidden;
	margin: 0;
	padding: 10px 0 0 0;
	border-top: 1px solid #dfdfdf;
}
.liveblog-entry.highlight {
	background-color: lightYellow;
}
.liveblog-entries header {
	margin: 0;
	padding: 0;
}
.liveblog-entry .liveblog-entry-text {
	margin: 10px 0 0 40px;
}
.liveblog-entry .liveblog-meta .liveblog-author-name {
	font-size: 15px;
	line-height: 18px;
}
.liveblog-entry .liveblog-meta .liveblog-author-avatar {
	float: left;
	margin: 0 10px 0 0;
}
.liveblog-entry .liveblog-meta .liveblog-author-avatar img {
	width: 30px;
	height: 30px;
}
.liveblog-entry .liveblog-meta .liveblog-meta-time {
	float: right;
	margin-left: 10px;
	font-size: 10px;
	line-height: 12px;
}
.liveblog-meta-time a {
	color: #888;
	text-decoration: none;
	text-transform: uppercase;
}
.liveblog-meta-time .time:before {
	content: " - ";
}
.liveblog-entry .liveblog-entry-actions,
.liveblog-entry .liveblog-entry-actions li {
	list-style: none;
}
.liveblog-fixed-bar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
	text-align: center;
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	background-color: rgba(1, 1, 1, 0.6);
}
#liveblog-fixed-nag a {
	text-decoration: none;
	display: block;
	color: white;
}
#liveblog-fixed-nag a .num, #liveblog-socketio-error {
	font-size: 30px;
	margin: 0 3px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
}

/* =Hashtags
-------------------------------------------------------------- */
.liveblog-hash {
	color: #55acee;
	font-weight: bold;
}

.liveblog-hash::before {
	content: "#";
}

/* =Authors
-------------------------------------------------------------- */
.liveblog-author {
	font-weight: bold;
}

.liveblog-author::before {
	content: "@";
}

/* =Emoji
-------------------------------------------------------------- */
.liveblog-emoji {
	width: 18px;
	height: 18px;
}

/* =Commands
-------------------------------------------------------------- */
.liveblog-command {
	display:none;
}

/* =Key Events
-------------------------------------------------------------- */

.liveblog-key-events h2 {
	color: #333;
	margin-bottom: 15px;
}

.liveblog-key-events .liveblog-entry {
	border: none;
	overflow: visible;
	padding: 0;
}

.liveblog-key-events .liveblog-entry a:hover {
	text-decoration: underline;
}

.liveblog-key-events li.liveblog-entry p {
	margin-bottom: 0;
}

.liveblog-key-events .liveblog-key-timeline {
	position: relative;
	border-left: 1px solid #bbb;
	padding-top: 1px;
}


.liveblog-key-events .liveblog-key-timeline:after,
.liveblog-key-events .liveblog-key-timeline:before {
	content : "";
	position: absolute;
	left: -5px;
	height: 1px;
	width: 10px;
	border-bottom: 1px solid #bbb;
}

.liveblog-key-events .liveblog-key-timeline:after {
	bottom: 0;
}

.liveblog-key-events .liveblog-key-timeline:before {
	top: 0;
}

.liveblog-key-events .liveblog-key-timeline li {
	position: relative;
	display: block;
	list-style: none;
	margin-bottom: 25px;
}

.liveblog-key-events .liveblog-key-timeline li:before {
	content: "";
	position: absolute;
	display: block;
	top: 11px;
	left: -4px;
	height: 7px;
	width: 7px;
	background-color: #bbb;
}

.liveblog-key-events .liveblog-key-timeline li .date {
	display: block;
	font-size: 10px;
	color: #333;
	padding-left: 20px;
}

.liveblog-key-events .liveblog-key-timeline li .title {
	padding-left: 20px;
	display: inline-block;
}

/* =Load More Buttons
-------------------------------------------------------------- */

.liveblog-load-more {
	display: block;
	margin: 1em 0;
	padding: 2em 0;
	width: 100%;
}
