{
  "parser": "babel-eslint",
  "extends": [
	  "airbnb-base",
	  "plugin:react/recommended"
  ],
  "plugins": [
	"jest",
	"react"
  ],
  "globals": {
    "__DEV__": true,
    "__TEST__": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
