<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="liveblog" xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
	<description>Custom ruleset for liveblog plugin.</description>

	<!-- For help in understanding this file: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- For help in using PHPCS: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->

	<!-- What to scan -->
	<file>.</file>
	<!-- Ignoring Files and Folders:
		https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#ignoring-files-and-folders -->
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/nodeapp/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<!-- How to scan -->
	<!-- Usage instructions: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->
	<!-- Annotated ruleset: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- Show sniff and progress -->
	<arg value="sp"/>
	<!-- Strip the file paths down to the relevant bit -->
	<arg name="basepath" value="./"/>
	<!-- Show results with colors -->
	<arg name="colors"/>
	<!-- Limit to PHP files -->
	<arg name="extensions" value="php"/>
	<!-- Enables parallel processing when available for faster results. -->
	<arg name="parallel" value="8"/>

	<!-- Rules: Check PHP version compatibility - see
		https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibilityWP"/>
	<!-- For help in understanding this testVersion:
		https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="7.4-"/>

	<!-- Rules: WordPress Coding Standards - see
		https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
	<!-- WordPress-Extra includes WordPress-Core -->
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>
	<!-- For help in understanding these custom sniff properties:
		https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties -->
	<config name="minimum_supported_wp_version" value="6.4"/>

	<!-- Rules: WordPress VIP - see
		https://github.com/Automattic/VIP-Coding-Standards -->
	<rule ref="WordPress-VIP-Go"/>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="liveblog"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="liveblog"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
		<properties>
			<property name="blank_line_check" value="true"/>
		</properties>
	</rule>

	<!-- Main plugin file must be named liveblog.php, not class-wpcom-liveblog.php -->
	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<exclude-pattern>liveblog.php</exclude-pattern>
	</rule>

	<!-- Legacy class naming convention uses WPCOM_Liveblog prefix -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedClassFound">
		<exclude-pattern>*/classes/*</exclude-pattern>
		<exclude-pattern>liveblog.php</exclude-pattern>
	</rule>

	<!-- Auto-generated webpack asset files -->
	<exclude-pattern>*/assets/*.asset.php</exclude-pattern>

	<!-- Template variables are local scope, not globals -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedVariableFound">
		<exclude-pattern>*/templates/*</exclude-pattern>
	</rule>

	<!-- Exclusions for PSR-4 autoloaded classes in src/php/ -->
	<!-- PSR-4 requires ClassName.php format, not class-classname.php -->
	<rule ref="WordPress.Files.FileName">
		<exclude-pattern>*/src/php/*</exclude-pattern>
	</rule>
	<!-- PSR-4 namespaced classes use standard namespace conventions -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedNamespaceFound">
		<exclude-pattern>*/src/php/*</exclude-pattern>
	</rule>
	<!-- PHP 8.1 enums can use $this in methods (false positive) -->
	<rule ref="PHPCompatibility.Variables.ForbiddenThisUseContexts.OutsideObjectContext">
		<exclude-pattern>*/src/php/*</exclude-pattern>
	</rule>

	<!-- Exclusions for tests directory -->
	<!-- PHPUnit test files use PascalCase naming convention -->
	<rule ref="WordPress.Files.FileName">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<!-- Test namespaces don't need plugin prefix -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedNamespaceFound">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<!-- Tests interact with WordPress globals and hooks -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedVariableFound">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedHooknameFound">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedClassFound">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<!-- Test stubs may have mixed structure -->
	<rule ref="Universal.Files.SeparateFunctionsFromOO.Mixed">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<!-- Unused parameters common in test method signatures -->
	<rule ref="Generic.CodeAnalysis.UnusedFunctionParameter">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<!-- Tests may need to override WordPress globals for setup -->
	<rule ref="WordPress.WP.GlobalVariablesOverride.Prohibited">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<!-- Test bootstrap may need runtime configuration -->
	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.runtime_configuration_putenv">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
	<!-- eval() may be needed for mocking functions in tests -->
	<rule ref="Squiz.PHP.Eval.Discouraged">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>

</ruleset>
