<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
		 bootstrap="tests/bootstrap.php"
		 cacheResultFile=".phpunit.cache/test-results"
		 executionOrder="depends,defects"
		 forceCoversAnnotation="false"
		 beStrictAboutCoversAnnotation="false"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTodoAnnotatedTests="true"
		 convertDeprecationsToExceptions="true"
		 colors="true"
		 failOnRisky="true"
		 failOnWarning="true"
		 testdox="true"
		 verbose="true">
	<testsuites>
		<testsuite name="integration">
			<directory suffix="Test.php">./tests/Integration/</directory>
		</testsuite>
	</testsuites>

	<coverage cacheDirectory=".phpunit.cache/code-coverage"
			  processUncoveredFiles="true">
		<include>
			<directory suffix=".php">.</directory>
			<directory suffix=".php">./classes</directory>
			<directory suffix=".php">./templates</directory>
		</include>
		<exclude>
			<directory>./vendor</directory>
			<directory>./tests</directory>
			<directory>./node_modules</directory>
		</exclude>
		<report>
			<text outputFile="php://stdout"/>
			<clover outputFile=".phpunit.cache/clover.xml"/>
		</report>
	</coverage>
</phpunit>
