div#liveblog span.disabled {
	color: #bbb;
}
div#liveblog button {
	margin-right: 4px;
}
div#liveblog p.error {
	display: none;
	background-color: #ffebe8;
	border: 1px solid #c00;
	padding: 4px;
	border-radius: 3px;
}

div#liveblog p.success {
	display: none;
	background-color: #93DB70;
	border: 1px solid #4CBB17;
	padding: 4px;
	border-radius: 3px;
}
