@use "sass:color";
@use "../utils" as *;

/**
 * Base button styles.
 */
.liveblog-btn {

	@include button-reset;

	transition: all 0.3s ease-in-out;

	&:hover {
		transition: all 0.3s ease-in-out;
		text-decoration: none;
	}
}

.liveblog-btn-small {
	font-size: 0.8rem;
	padding: 0.5rem 1rem;
}

.liveblog-update-btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
	position: sticky;
	z-index: 5;
	top: 50px;
}

.liveblog-update-btn {
	color: #fff;
	background: $color-primary;
	font-size: 16px;
	border-radius: 50px;
}

.liveblog-update-btn:hover {
	background: color.adjust($raw-color-primary, $lightness: -10%);
}

.liveblog-btn-delete {
	background: $color-warning;
	color: #fff;
	border: none;
}

.liveblog-btn-delete:hover {
	background: color.adjust($raw-color-warning, $lightness: -10%);
}

