.liveblog-event {
  position: relative;
  display: inline-block;
  width: 100%;
}

.liveblog-event-meta {
  font-size: .8rem;
  color: $color-grey-base;
}

.liveblog-event-delete {
  color: $color-warning;
  cursor: pointer;
}

.liveblog-event-delete:hover {
  transform: scale(1.1);
}

.liveblog-event-content {
  word-break: break-all;
}

.liveblog-event-content:hover {
  cursor: pointer;
  text-decoration: underline;
}
