.liveblog-feed {
  min-height: 200px;
  position: relative;
}

.liveblog-feed.is-loading::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .7);
}
