.liveblog-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.liveblog-modal-inner {
  width: 50%;
  box-shadow: $base-drop-shadow;
  border-radius: $base-border-radius;
  animation: scaleUp .3s cubic-bezier(.3, 1.2, .2, 1);

  @include mq($until: large) {
    width: 70%;
  }

  @include mq($until: medium) {
    width: 90%;
  }

  @include mq($until: small) {
    width: 95%;
  }
}
