.liveblog-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.liveblog-pagination .liveblog-btn {
  margin: 2.5px;
}

.liveblog-pagination-pages {
  font-size: 13px;
	line-height: 12px;
}
