
.public-DraftEditor-content {
	border: 1px solid #ddd;
  min-height: 100px;
  margin-bottom: 10px;
	background: #fff;
}

.editor-container {
	padding: 10px;
	background: #f9f9f9;
	border: 1px solid #dfdfdf;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 3px;
}

.editor-publish-button {
	display: block;
	width: 150px;
	padding: 10px;
	background: #0074D9;
	text-align: center;
	font-size: 14px;
	font-family: Arial, sans-serif;
	margin-top: 20px;
	border-radius: 6px;
	color: #fff;
}

.liveblog-editor {
  margin-bottom: 10px;
}

