.liveblog-editor-container {
  background: $color-grey-x-light;
  border-top: 2px solid $color-grey-x-dark;
  border-bottom: 2px solid $color-grey-mid-light;
  padding: 16px;
  margin-bottom: 24px;
}

.liveblog-editor-container .public-DraftEditor-content {
	border: 1px solid $color-grey-light;
  min-height: 200px;
  padding: 10px;
  margin-bottom: 10px;
	background: #fff;
}

.liveblog-entry-edit .liveblog-editor-container {
  border: none;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 0;
}

.liveblog-editor-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background: rgba(255, 255, 255, .8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.liveblog-form {
  background: $color-grey-x-light;
  border: 1px solid $color-grey-light;
  display: flex;
  flex-wrap: nowrap;
}

.liveblog-input {
  flex-grow: 1;
  margin: 2px;
  padding: 2px;
}

.liveblog-toolbar {
  background: $color-grey-x-light;
  border: 1px solid $color-grey-light;
  border-bottom: none;
}

.liveblog-popover {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  background: #fff;
  border: 1px solid $color-grey-light;
  border-top: none;
  max-height: 200px;
  overflow-y: scroll;
}

.liveblog-popover-item {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
  font-size: 14px;
}

.liveblog-popover-item--focused {
  background: $color-grey-x-light;
}

.liveblog-popover-item-figure {
  margin-right: 5px;
}

.liveblog-popover-item:not(:last-child) {
  border: 1px solid $color-grey-x-light;
}

