.liveblog-entry {
	border-top: 1px solid $color-grey-mid-light;
  padding: 10px 0;
}

.liveblog-entry-content {
  padding-top: 10px;
}

.liveblog-meta {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
}

.liveblog-meta-time {
	font-size: 10px;
	line-height: 12px;
  text-transform: uppercase;
}

.liveblog-meta-author {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.liveblog-meta-author-name {
	font-size: 15px;
  line-height: 18px;
  margin-left: 5px;
}

.liveblog-meta-author-avatar img {
	width: 30px;
  height: 30px;
}

.type-key {
  display: none;
}

.liveblog-hash {
  color: $color-primary;
}
