@keyframes spin {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}

.liveblog-feed {
  min-height: 200px;
	position: relative;
}

.liveblog-feed--loading::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .7);
}

.liveblog-loader {
  position: absolute;
  z-index: 1;
	top: 50%;
	left: 50%;
	right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}
