.liveblog-event {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $color-grey-mid-light;
  padding: 5px 0;
}

.liveblog-event-content {
  cursor: pointer;
  margin-top: 5px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.liveblog-event-delete {
  cursor: pointer;
}
