@import "core/utils/defaults";
@import "core/utils/colors";
@import "~sass-mq/mq";

div {
  &#liveblog {
    span.disabled {
      color: $color-grey-light;
    }

    button {
      margin-right: 4px;
    }

    p {
      &.error {
        display: none;
        background-color: #ffebe8;
        border: 1px solid #c00;
        padding: 4px;
        border-radius: 3px;
      }

      &.success {
        display: none;
        background-color: #93db70;
        border: 1px solid #4cbb17;
        padding: 4px;
        border-radius: 3px;
      }
    }
  }

  &#edit-slug-box {
    font-size: 13px;

    a {
      color: #0073aa;
      text-decoration: underline;

      &:hover {
        color: #00a0d2;
      }
    }
  }
}

body.wp-admin {
  .liveblog-editor-container {
    border-top: none;
    margin-bottom: 2px;
    padding-left: 0;
  }

  #poststuff h2.liveblog-editor-subTitle {
    padding-left: 0;
  }

  &.liveblog-archive .liveblog-editor-container, .liveblog-share, &.liveblog #postdivrich {
    display: none;
  }

  .liveblog-pagination button {
    margin: 4px;
  }

  button {
    &.liveblog-publish-btn, &.liveblog-draft-btn {
      width: auto;
      display: inline-block;
      margin-left: 10px;
    }

    &.liveblog-close-btn {
      margin-left: 10px;
    }
  }

  .liveblog-admin-wrapper {
    .liveblog-editor-container .Select--multi {
      width: calc(100% - 220px);
      margin-bottom: 30px;
      z-index: 2;
      display: inline-block;
    }

    .liveblog-entry-edit .liveblog-editor-container .liveblog-editor-subTitle {
      margin-left: 10px;
    }
  }

  #liveblog-action-wrapper {
    display: flex;

    .liveblog-status-filters {
      width: 100%;
    }

    .liveblog-update-count {
      width: 100%;
      text-align: right;
    }
  }

  .liveblog-editor-container, .liveblog-status-filters, .liveblog-update-count {
    background-color: #f1f1f1;
  }

  &.liveblog.wp-core-ui .button-primary#publish {
    background: inherit;
    color: inherit;
    box-shadow: none;
    text-shadow: none;
    border-color: #ccc;
  }

  .liveblog-editor-textarea {
    width: 100%;
  }

  &.liveblog {
    #liveblog-container .liveblog-update-btn {
      background-color: #fff;
    }

    #post_headline {
      width: 100%;
      margin-bottom: 10px;
      font-size: 16px;
    }

    #poststuff h2.liveblog-entry-header {
      padding-left: 0;
      font-size: 18px;
    }
  }

  .liveblog-status-filters {
    padding: 8px;
    margin-top: 0px;

    strong {
      padding-right: 20px;
    }

    a {
      margin-right: 20px;
    }

    span {
      margin-right: 20px;
      color: #72777c;
    }
  }

  .liveblog-update-count {
    padding: 8px;
    margin: 0;
  }

  .liveblog-entry {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 5px 5px 0;
    padding-bottom: 0;
    padding-right: 0;

    .liveblog-meta-avatars {
      float: left;
      clear: left;
      width: 75px;
      text-align: center;
      position: relative;
      z-index: 1;
      margin: 0;
      padding-top: 2px;
      padding-bottom: 0;

      img {
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 60px;
        height: 60px;
      }
    }
  }

  &.liveblog.wp-core-ui .mce-tooltip {
    display: none;
  }
}

#liveblog-container {
  padding-bottom: 3px;
}

@include mq($until: small) {
  body.wp-admin {
    #liveblog-action-wrapper {
      display: block;

      .liveblog-update-count {
        text-align: left;
      }
    }

    .liveblog-entry .liveblog-meta-avatars {
      display: none;

      img {
        display: none;
      }
    }
  }
}
