div#liveblog span.disabled {
	color: #bbb;
}

div#liveblog button {
	margin-right: 4px;
}

div#liveblog p.error {
	display: none;
	background-color: #ffebe8;
	border: 1px solid #c00;
	padding: 4px;
	border-radius: 3px;
}

div#liveblog p.success {
	display: none;
	background-color: #93DB70;
	border: 1px solid #4CBB17;
	padding: 4px;
	border-radius: 3px;
}

div#edit-slug-box {
	font-size: 13px;
}

div#edit-slug-box a {
	color: #0073aa;
	text-decoration: underline;
}

div#edit-slug-box a:hover {
	color: #00a0d2;
}

body.wp-admin .liveblog-editor-container {
	border-top: none;
	margin-bottom: 2px;
	padding-left: 0;
}

body.wp-admin #poststuff h2.liveblog-editor-subTitle {
	padding-left: 0;
}

body.wp-admin.liveblog-archive .liveblog-editor-container,
body.wp-admin .liveblog-share,
body.wp-admin.liveblog.post-type-fte_liveblog #postdivrich {
	display: none;
}

body.wp-admin .liveblog-pagination button {
	margin: 4px;
}

body.wp-admin button.liveblog-publish-btn {
  width: auto;
  float: right;
  margin-top: -64px;
}

body.wp-admin .liveblog-admin-wrapper .liveblog-editor-container .Select--multi {
	width: 80%;
	margin-bottom: 30px;
	z-index: 2;
}

body.wp-admin .liveblog-editor-container {
	background-color: #f1f1f1;
}

body.wp-admin.liveblog.post-type-fte_liveblog.wp-core-ui .button-primary#publish {
	background: inherit;
	color: inherit;
	box-shadow: none;
	text-shadow: none;
	border-color: #cccccc;
}

body.wp-admin .liveblog-editor-textarea {
  width: 100%;
}

body.wp-admin.liveblog.post-type-fte_liveblog #post_headline {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}
