.liveblog-editor-btn {
  display: inline-block;
  padding: .5rem;
  margin: 0;
  background: transparent;
  border-radius: 0;
  color: $color-grey-dark;
}

.liveblog-editor-btn:hover {
  background: #fff;
}

.liveblog-image-upload-btn {
  position: absolute;
  bottom: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .2rem;
  padding: .35rem;
  font-size: .8rem;
  font-weight: normal;
  border: $base-border-size solid $color-grey-light;
  background-color: $color-grey-x-light;
  border-radius: $base-border-radius;
  color: $color-grey-dark;
}

.liveblog-image-upload-btn .dashicons {
  margin-right: .35rem;
}

.liveblog-image-upload-btn:hover {
  background-color: #fff;
  transition: .25s background-color ease-in-out;
}

.liveblog-publish-btn,
.liveblog-save-btn {
  background: $color-primary;
}

.liveblog-publish-btn {
  width: 100%;
}

.liveblog-publish-btn:hover,
.liveblog-save-btn:hover {
  background: lighten($color-primary, 5%);
}

.liveblog-save-btn,
.liveblog-cancel-btn,
.liveblog-publish-btn {
  font-size: .9rem;
}

.liveblog-cancel-btn {
  background: $color-grey-light;
  color: $color-grey-dark;
}
