.liveblog-editor-codeblock {
  display: flex;
  align-items: center;
  padding: .5rem;
  justify-content: space-between;
  background: transparent;
  border: $base-border-size solid $color-grey-light;
  color: $color-grey-base;
  border-radius: $base-border-radius;
}

.liveblog-codeblock-preview {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
}

.liveblog-draggable-block.is-focused,
.liveblog-draggable-block:hover {
  box-shadow: 0 0 0 2px lighten($color-accent, 30%);
  border-radius: $base-border-radius;
}

.liveblog-draggable-block:hover {
  cursor: move;
}

.liveblog-draggable-block img {
  display: block;
}
