.liveblog-media-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.liveblog-media-grid-item {
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  flex-basis: 15%;
  margin-bottom: .75rem;
  cursor: pointer;
}

.liveblog-media-grid-item > img {
  display: block;
  max-width: 100%;
}

.liveblog-media-grid-item:hover {
  box-shadow: 0 0 0 2px lighten($color-accent, 30%);
  border-radius: $base-border-radius;
}

.liveblog-media-grid-item:hover > img {
  border-radius: $base-border-radius;
}

.liveblog-media-loading {
  min-height: 300px;
}

.liveblog-media-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.liveblog-media-pagination {
  display: flex;
  align-items: center;
  list-style: none;
}

.liveblog-media-pagination-number {
  cursor: pointer;
  padding: 0 .1rem;
}

.liveblog-media-pagination-number.is-active {
  font-weight: bold;
}
