.liveblog-editor-modal {
  position: absolute;
  z-index: 9999;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  padding: .5rem;
  border-radius: $base-border-radius;
  background: $color-grey-mid-light;
  box-shadow: $base-drop-shadow;
}
