@use "../utils" as *;

.liveblog-popover {
	position: absolute;
	top: 100%;
	left: 0.8rem;
	right: 0.8rem;
	z-index: 99;
	background: #fff;
	box-shadow: $base-drop-shadow;
	border-radius: $base-border-radius;
	border-top: none;
	animation: scaleUp 0.2s cubic-bezier(0.3, 1.2, 0.2, 1);
}

.liveblog-popover-meta {
	padding: 0.4rem;
	font-size: 0.8rem;
	color: $color-grey-dark;
	border-bottom: $base-border-size solid $color-grey-x-light;
}

.liveblog-popover-item {
	// Important: makes on mouse down a clickable event on ios.
	cursor: pointer;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 0.4rem;
	font-size: 0.8rem;
	color: $color-grey-dark;
}

.liveblog-popover-item img {
	width: 17.5px;
	height: 17.5px;
	margin-right: 0.4rem;
}

.liveblog-popover-item.is-focused {
	background: $color-grey-x-light;
}

.liveblog-popover-item-figure {
	margin-right: 0.4rem;
}
