name: Build

on:
  pull_request:
  push:
    branches:
      - develop
    paths-ignore:
      - "**.md"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build JS assets
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build production assets
        run: npm run build
