name: Run JS linting

on:
  # Run on all pushes and on all pull requests.
  # Prevent the "push" build from running when there are only irrelevant changes.
  push:
    paths-ignore:
      - "**.md"
  pull_request:
  # Allow manually triggering the workflow.
  workflow_dispatch:

jobs:
  lint:
    name: Run JS linting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: NPM install
        run: npm install

      - name: Run eslint on React files
        run: npm run lint-scripts
        continue-on-error: true

      - name: Run styleslint on SCSS files
        run: npm run lint-styles
